<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginCtrl</display-name>
    <servlet-name>loginCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.loginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCtrl</servlet-name>
    <url-pattern>/loginCtrl</url-pattern>
  </servlet-mapping>
  <display-name>SBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetBoardListCtrl</display-name>
    <servlet-name>GetBoardListCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.GetBoardListCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBoardListCtrl</servlet-name>
    <url-pattern>/GetBoardListCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCtrl</display-name>
    <servlet-name>LogoutCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.LogoutCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCtrl</servlet-name>
    <url-pattern>/LogoutCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBoardCtrl</display-name>
    <servlet-name>GetBoardCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.GetBoardCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBoardCtrl</servlet-name>
    <url-pattern>/GetBoardCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardCtrl</display-name>
    <servlet-name>UpdateBoardCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.UpdateBoardCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardCtrl</servlet-name>
    <url-pattern>/UpdateBoardCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBoardCtrl</display-name>
    <servlet-name>DeleteBoardCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.DeleteBoardCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBoardCtrl</servlet-name>
    <url-pattern>/DeleteBoardCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardCtrl</display-name>
    <servlet-name>AddBoardCtrl</servlet-name>
    <servlet-class>kr.hs.sdh.dao.AddBoardCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardCtrl</servlet-name>
    <url-pattern>/AddBoardCtrl</url-pattern>
  </servlet-mapping>
</web-app>