<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>EncodingChar</display-name>
    <filter-name>EncodingChar</filter-name>
    <filter-class>util.EncodingChar</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingChar</filter-name>
    <url-pattern>/EncodingChar</url-pattern>
  </filter-mapping>
  <display-name>Shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>