<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>EncodingChar</display-name>
    <filter-name>EncodingChar</filter-name>
    <filter-class>util.EncodingChar</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingChar</filter-name>
    <url-pattern>/EncodingChar</url-pattern>
  </filter-mapping>
  <display-name>ShoopingMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>view.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCtrl</display-name>
    <servlet-name>RegisterCtrl</servlet-name>
    <servlet-class>view.RegisterCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCtrl</servlet-name>
    <url-pattern>/RegisterCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMember</display-name>
    <servlet-name>GetMember</servlet-name>
    <servlet-class>view.GetMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMember</servlet-name>
    <url-pattern>/GetMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Money</display-name>
    <servlet-name>Money</servlet-name>
    <servlet-class>view.Money</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Money</servlet-name>
    <url-pattern>/Money</url-pattern>
  </servlet-mapping>
</web-app>