<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <filter>
    <display-name>Encoding</display-name>
    <filter-name>Encoding</filter-name>
    <filter-class>util.Encoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>BoardMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCtrl</display-name>
    <servlet-name>LoginCtrl</servlet-name>
    <servlet-class>view.LoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtrl</servlet-name>
    <url-pattern>/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCtrl</display-name>
    <servlet-name>LogoutCtrl</servlet-name>
    <servlet-class>view.LogoutCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCtrl</servlet-name>
    <url-pattern>/LogoutCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBoardCtrl</display-name>
    <servlet-name>GetBoardCtrl</servlet-name>
    <servlet-class>view.GetBoardCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBoardCtrl</servlet-name>
    <url-pattern>/GetBoardCtrl</url-pattern>
  </servlet-mapping>
</web-app>